Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox VMs
data
git
projects
vagrant
.CFUserTextEncoding
.DS_Store
.bash_history
.gitconfig
.lesshst
.rnd
.viminfo
.vimrc
.vimrc.bundles
.bash_sessions
.cache
.config
.docker
.git
.spf13-vim-3
.ssh
.subversion
.vagrant.d
.vim
.vimbackup
.vimswap
.vimundo
.vimviews
