Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Sites/
VirtualBox VMs
bin/
data/
git
projects
vagrant/
.CFUserTextEncoding
.DS_Store
.anyconnect
.bash_history
.composer/
.cups/
.dropbox_uploader
.dropshell_history
.gitconfig
.lesshst
.npm/
.rnd
.viminfo
.vimrc
.vimrc.bundles
.bash_sessions
.cache
.config
.docker
.git
.spf13-vim-3
.ssh
.subversion
.vagrant.d
.vim
.vimbackup
.vimswap
.vimundo
.vimviews
