[user]
	name = Jeff Braucher
	email = jeff@insightdesigns.com
[push]
	default = simple
[rerere]
	enabled = 1
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[credential]
	helper = osxkeychain
